* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.3px;
}
input:focus {
  outline: 0;
}
button:focus {
  outline: 0;
}
#app_container {
  margin-top: 50px;

  .panel {
    margin-bottom: 0;
  }

  .app-title {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
  }
}
